USE [master]
GO
/****** Object:  Database [BOOKSHOP]    Script Date: 1/3/2024 10:47:42 PM ******/
CREATE DATABASE [BOOKSHOP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOKSHOP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BOOKSHOP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BOOKSHOP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BOOKSHOP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOKSHOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOKSHOP]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/3/2024 10:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [nchar](10) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 1/3/2024 10:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [nchar](10) NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[TelephoneNumber] [nchar](10) NULL,
	[Address] [nvarchar](200) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 1/3/2024 10:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [nchar](10) NOT NULL,
	[OrderDate] [date] NULL,
	[CustomerID] [nchar](10) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 1/3/2024 10:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [nchar](10) NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 1/3/2024 10:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [nchar](10) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[Author] [nvarchar](100) NULL,
	[PublishYear] [int] NULL,
	[Publisher] [nvarchar](100) NULL,
	[CostPrice] [int] NULL,
	[SellingPrice] [int] NULL,
	[CategoryID] [nchar](10) NULL,
	[Quantity] [int] NULL,
	[ImagePath] [nvarchar](100) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (N'Cat1      ', N'Category 1')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (N'Cat10     ', N'Category 10')
INSERT [dbo].[Category] ([ID], [CategoryName]) VALUES (N'Cat2      ', N'Category 2')
GO
INSERT [dbo].[Customer] ([ID], [CustomerName], [TelephoneNumber], [Address]) VALUES (N'C1        ', N'Customer 1', N'1111111111', N'Address 1')
INSERT [dbo].[Customer] ([ID], [CustomerName], [TelephoneNumber], [Address]) VALUES (N'C2        ', N'Customer 2', N'2222222222', N'Address 2')
INSERT [dbo].[Customer] ([ID], [CustomerName], [TelephoneNumber], [Address]) VALUES (N'C3        ', N'Customer 3', N'3333333333', N'Address 3')
GO
INSERT [dbo].[Order] ([ID], [OrderDate], [CustomerID]) VALUES (N'O1        ', CAST(N'2023-01-01' AS Date), N'C1        ')
INSERT [dbo].[Order] ([ID], [OrderDate], [CustomerID]) VALUES (N'O13       ', CAST(N'2023-01-15' AS Date), N'C2        ')
INSERT [dbo].[Order] ([ID], [OrderDate], [CustomerID]) VALUES (N'O14       ', CAST(N'2023-02-28' AS Date), N'C4        ')
GO
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [Quantity]) VALUES (N'O1        ', N'SACH001   ', 2)
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [Quantity]) VALUES (N'O1        ', N'SACH002   ', 1)
INSERT [dbo].[OrderDetail] ([OrderID], [ProductID], [Quantity]) VALUES (N'O13       ', N'SACH003   ', 2)
GO
INSERT [dbo].[Product] ([ID], [ProductName], [Author], [PublishYear], [Publisher], [CostPrice], [SellingPrice], [CategoryID], [Quantity], [ImagePath]) VALUES (N'P1        ', N'Product 1', N'Author 1', 2020, N'Publisher 1', 100, 150, N'Cat1      ', 50, NULL)
INSERT [dbo].[Product] ([ID], [ProductName], [Author], [PublishYear], [Publisher], [CostPrice], [SellingPrice], [CategoryID], [Quantity], [ImagePath]) VALUES (N'P10       ', N'Product 10', N'Author 10', 2029, N'Publisher 10', 1000, 1050, N'Cat10     ', 140, NULL)
INSERT [dbo].[Product] ([ID], [ProductName], [Author], [PublishYear], [Publisher], [CostPrice], [SellingPrice], [CategoryID], [Quantity], [ImagePath]) VALUES (N'P2        ', N'Product 2', N'Author 2', 2021, N'Publisher 2', 200, 250, N'Cat2      ', 60, NULL)
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
USE [master]
GO
